.ContentMenu{
    display: flex;
    position: relative;
    left: 24px;
    width: 339px;
    height: 60px;
    z-index: 100;
    background: #FFFFFF;
    border-radius: 16px;
    align-items: center;
}

.ContentMenu .IconMenu{
    color: #DADADA;
}

.ContentMenu .IconMenuColorBlu{
    color: #54D1ED;
}

.ContentMenu .TextMenu{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
}

.ContentMenu .boxMenu{
    margin: 20px 17px;
    display: grid;
    text-align: center;
    justify-items: center;
}

.ContentMenu .iconPlus{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 9px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ContentMenu .boxplus{
    position: relative;
    bottom: 17px;
}

footer{
    bottom: 0;
    position: fixed;
}

body{
    height: 1856px;
}